body {
    background-color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px;
    padding-right: 50px;
    padding-left: 50px;
}

h2 {
    color: maroon;
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}

ul {
    margin-top: 5px;
}

.importantPoint {
    color: red;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 1500px;
}

.flex-child {
    flex: 2;
    border: 1px solid white;
    background-color: #944547;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 25px;
    gap: 20px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
    background-color: darkgray;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-horizontal {
    display: flex;
    gap: 50px;
    flex: 1 1 0;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

@media screen and (max-width: 1200px) {
    #nebraskaMap {
        display: none;
    }

    .flex-container-horizontal {
        flex-direction: column;
    }
}
